.card-box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 10px;
    cursor: pointer;
}

.card-box:hover {
    margin: 10px 10px;
    transition: transform 0.25s ease-in-out;
    transform: scale(1.1);
}

.card-box:active {
    transition: transform 0.25s ease-in-out;
    transform: scale(1);
}

.card-box img {
    min-width: 80%;
    max-height: 80%;
    object-fit: cover;
    border-radius: 30px;
}

.card-box p {
    color: gray;
    font-weight: 500;
}

h3 {
    color: white;
}
