.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    position: relative;
    padding: 1rem 2rem;
    background: linear-gradient(to bottom, #7c7f70, #51534a);
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
    transform: scale(1.1);
    margin-right: 80px;
    background-color: transparent;
}

.navbar-logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
    background-color: transparent;
}

.navbar-logo:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

.navbar-title {
    font-size: 1.5rem;
    margin: 0;
    transition: 0.25s;
    background-color: transparent;
}

.navbar-title:hover {
    transform: scale(1.1);
}

.navbar-links {
    list-style: none;
    display: flex;
    margin-left: 40px;
    align-items: right;
    gap: 20px;
    
    background-color: transparent;
}

.navbar-links li {

}

.navbar-links a {
    color: white;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    
}

.navbar-links a:hover {
    border: none;
    background-color: rgb(111, 84, 52);
    
}

.navbar-links a:active {
    background-color: rgb(61, 55, 46);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.search-input {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
    transition: 0.25s ease-in-out;
}

.search-input:hover {
    width: 300px;
}

.search-button {
    background-color: rgb(225, 220, 213);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    transition: 0.25s ease-in-out;
}

.search-button:hover {
    background-color: rgb(198, 182, 168);
    border-radius: 5px;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-icon.open {
    background-color: transparent;
}

.user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.user-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.user-name {
    color: white;
    font-size: 1rem;
}

.dropdown-menu {
    position: absolute;
    z-index: 2;
    top: 20px;
    width: 170px;
    left: 0;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.user-info:hover .dropdown-menu {
    display: block;
}

.menu-item {
    display: block;
    text-decoration: none;
    padding: 8px 0;
    transition: all 0.3s ease;
}

.menu-item:hover {
    background-color: #555; /* Darker background color on hover */
}

.menu-item:last-child {
    margin-top: 5px;
}

.logout-button {
    background-color: #333; /* Dark background color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #555; /* Darker background color on hover */
}


@media (max-width: 1024px) {
    .detail-container {
        flex-wrap: wrap;
    }
    .img-box {
        width: 100%;
        height: auto;
    }
    .detail__info {
        padding: 30px 10px;
        width: 100%;
    }
    .detail__genre {
        padding: 15px 0px;
    }
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: row;
    }

    h1 {
        display: flex;
        font-size: 50px;
    }

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 3rem;
    }

    .navbar-left {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .navbar-title {
        margin-right: 1px;
        font-size: 1rem;
    }

    .navbar-links {
        flex-direction: row;
        gap: 5px;
    }

    .search-input {
        width: 100%;
        max-width: 175px;
    }

    .search-button {
        width: 50px;
    }

    .detail__button {
        width: 50%;
    }