* {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem 2rem;
    /* background: linear-gradient(to bottom, rgb(30, 30, 37), rgb(20, 21, 28)); */
    color: white;
}

.navbar-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.navbar-logo-title {
    display: flex;
    align-items: center;
}

.navbar-logo {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
    background-color: transparent;
}

.navbar-logo:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

.navbar-title {
    letter-spacing: -1px;
    font-size: 1.5rem;
    margin: 0;
    transition: 0.25s;
    background-color: transparent;
}

.navbar-title:hover {
    transform: scale(1.1);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: transparent;
}

.navbar-links a {
    color: white;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    align-items: center;
}

.navbar-links a .icon {
    margin-right: 8px;
}

.navbar-links a:hover {
    border: none;
    background-color: rgb(111, 84, 52);
    text-decoration: underline;
}

.navbar-links a:active {
    background-color: rgb(61, 55, 46);
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 1rem;
}

.search-input {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
    transition: 0.25s ease-in-out;
}

.search-input:hover {
    width: 400px;
}

.search-button {
    background-color: rgb(225, 220, 213);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    transition: 0.25s ease-in-out;
}

.search-button:hover {
    background-color: rgb(198, 182, 168);
    border-radius: 5px;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-icon.open {
    background-color: transparent;
}

.user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.user-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.user-name {
    color: white;
    font-size: 1rem;
}

.dropdown-menu {
    position: absolute;
    z-index: 2;
    top: 20px;
    width: 170px;
    left: 0;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.user-info:hover .dropdown-menu {
    display: block;
}

.menu-item {
    display: block;
    text-decoration: none;
    padding: 8px 0;
    transition: all 0.3s ease;
}

.menu-item:hover {
    background-color: #555;
}

.menu-item:last-child {
    margin-top: 5px;
}

.logout-button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #555;
}
