* {
    box-sizing: border-box;
    margin: 0;
}

.App {
    background: rgb(81, 83, 74);
}

main {
    background: rgb(81, 83, 74);
}

main.container {
    background: rgb(81, 83, 74);
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
    display: flex;
}

body {
    background: rgb(81, 83, 74);
}

.detail-container {
    background: rgb(81, 83, 74);
}
